<form id="myform" action="#">
    <div>
        <input type="text" name="email" id="email" value="" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required placeholder="email here" />
        <span class="msg"></span>
    </div>
    <div>
        <input type="text" name="customInput" id="customInput" my-pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required placeholder="text here" />
        <span class="msg"></span>
    </div>
    <button type="submit" name="subm" value="OK">OK</button>
</form>
<style>
    input:valid {
        border: 1px solid green;
    }
    input:not(:placeholder-shown):invalid {
        border: 1px solid red;
    }
</style>
<script type="module">
    myform.customInput.oninvalid = (event) => {
        let el = event.target;
        let msg = el.parentElement.querySelector('.msg');
        msg.innerText = el.validationMessage;
        console.log('oninvalid, id: ', el.id);
    };
    myform.customInput.oninput = (event) => {
        let el = event.currentTarget;
        validateWithMyPattern(el);
        markValidity(el);
    };
    function markValidity(el) {
        el.checkValidity();
        let msg = el.parentElement.querySelector('.msg');
        if (el.validity.valid) {
            msg.innerText = '';
        } else {
            msg.innerText = el.validationMessage;
        }
    }
    function validateWithMyPattern(field) {
        if (field.value) {
            if (field.hasAttribute('my-pattern') &&
                field.value.match(field.getAttribute('my-pattern'))) {
                field.setCustomValidity('');
            } else {
                field.setCustomValidity('My pattern error');
            }
        }
    }
    myform.subm.onclick = (event) => {
        for (let formEl of myform.querySelectorAll('input')) {
            validateWithMyPattern(formEl);
            markValidity(formEl);
        }
        if (myform.reportValidity()) {
            alert('Valid !');
        } else {
            alert('Invalid !')
        }
        return false;
    };
</script>